main{
    background-color: RGBa(123, 125, 128 , 0.4);
    height: 100%;
    width: 100%;
    padding: 15% 15% 12% 15%;
}

/**********************                     job un (1)               ***************************/
.job_one{
    box-shadow: 30px 20px 1px 5px rgba(106, 105, 105, 0.3);
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
}

.job_one .fa-solid{
    margin-top: 65px;
    cursor: pointer;
}

.left_one ,  .right_one {
    font-size: 30px;
}

.intitule{
    color: red;
    font-size: 22px;
}

.intitule , .profil , .mission{
    padding-top: 20px;
}

/********************* Job deux   **********************/

.job_two{
    box-shadow: 30px 20px 1px 5px rgba(106, 105, 105, 0.3);
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
}

.job_two .fa-solid{
    margin-top: 65px;
    cursor: pointer;
}

.left_two ,  .right_two {
    font-size: 30px;
}

.intitule{
    color: red;
    font-size: 22px;
}

.intitule , .profil , .mission{
    padding-top: 20px;
}



/*************************  Job trois   ****************************/

.job_three{
    box-shadow: 30px 20px 1px 5px rgba(106, 105, 105, 0.3);
    padding: 20px;
    font-size: 20px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    width: 1000px;
    height: 200px;
}

.job_three .fa-solid{
    margin-top: 65px;
    cursor: pointer;
}

.left_three ,  .right_two {
    font-size: 30px;
}

.intitule{
    color: red;
    font-size: 22px;
}

.intitule , .profil , .mission{
    padding-top: 20px;
}
